@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


                        /* VARIABLES */
:root{
    --light-blue:#33a199;
    --medium-blue:#0a183d;
    --dark-blue: #08192d ;
    --ligh-purple:#8f5b73;
    --red:#ee2853;
    --dark-purple:#372b3f;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html{
    font-size: 20px;
}

                        /* HEADER SECTION */


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10%;
    background-color: #08192d;

}


header li{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    list-style: none;
    
}


.mylink{
    color:#edf0f1 ;
    font-weight: 800;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    
}

.nav-elements .mylink:hover{
    color: var(--red);
}


.nav-elements li{
    display:inline-block;
    padding: 0rem 1rem;
  

}

.grouped-logo li{
    display:inline-block;
    padding: 0rem 0.8rem;
   
}

.grouped-logo img{
    position: relative;
    
    
}


.logo{
    position: relative;
    font-size: 1.6rem;
    color: white;
    font-weight: 800;
    

}

                        /* LANDING PAGE'S BODY */

.container{
    background-color: var(--medium-blue) ;
    width: 100%;
    height: 100vh;
    position: relative;
    

}

.body-content{
    position: absolute;
    width: 100%;
    display: flex;
    text-align: center;
    padding-top: 10rem;
    justify-content: space-around;
}

.body-content img{
    position: relative;
    bottom: 4rem;
}



.actual-content{
    font-family: "Montserrat", sans-serif;
    position: relative;
    bottom: 5rem;
    text-align: justify;
}

.actual-content h1{
    font-size: 10rem;
    color: white;
    padding-bottom: 0.4rem;
}

.actual-content p{
    font-size: 1.5rem;
    color: white;
    position: relative;
    left: 0.6rem;
}





                    /* RESPONSIVENESS */

@media only screen and (max-width: 600px){


    .body-content{
        display: flex;
        flex-direction: column-reverse;
        
        
    }

    .body-content img{
        width:28%;
        margin: auto;
        position: relative;
        bottom: 4rem;
        
    }


    .actual-content{
        position: relative;
        bottom: 3rem;
    }

    .actual-content h1{
        font-size: 2rem;
        color: white;
        padding-bottom: 1rem;
    }
    
    .actual-content p{
        font-size: 1.16rem;
        color: white;
        width: 80%;
        margin: auto;
    }
    

}

